html {
  margin-left: 5%;
  margin-right: 5%;
  padding: 1rem;
}
body {
  background: #000000;
  color: #fafafa;
  font-family: "Helvetica";
  font-weight: 300;
  font-style: normal;
}

main {
  border-radius: 25px;
  background-color: hotpink;
  margin: 1%;
  padding: 1%;
}
footer{
  margin: 1%;
  padding: 1%;
}

canvas {
  border-radius: 25px;
  margin-left: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
  background: #fafafa;
}
h1 {
  padding: 1%;
  font-family: "Cherry Bomb One", system-ui;
  font-weight: 300;
  font-style: normal;
  font-size: 50px;
}

@media only screen and (min-width: 800px) {
  canvas {
    width: 700px;
  }
  h1 {
    font-size: 30px;
  }
}

@media only screen and (min-width: 1100px) {
  canvas {
    width: 900px;
  }
  h1 {
    font-size: 35px;
  }
}
@media only screen and (max-width: 800px) {
  canvas {
    width: 600px;
  }
  h1 {
    font-size: 20px;
  }
}
@media only screen and (max-width: 700px) {
  canvas {
    width: 300px;
  }

}

#controls {
  margin: 1rem;
  padding: 1rem;
  border-radius: 25px;
  background-color: #ff91bd;
}

#volumeLabel {
  margin-left: 1rem;
}

section {
  margin-bottom: 1rem;
}

#playButton {
  font-size: 1.2rem;
  width: 6rem;
}

button[data-playing="yes"]:after {
  content: "Pause";
}

button[data-playing="no"]:after {
  content: "Play";
}

button {
  margin: auto;
  width: 50%;
  font-family: "Cherry Bomb One", system-ui;
  font-weight: 300;
  font-style: normal;
  font-size: large;
  width: auto;
  height: 30px;
  border-radius: 25px;
}
button:hover {
  background-color: yellow;
  font-size: 18px;
}
button:active {
  background-color: hotpink;
}

#trackSelect {
  border-radius: 25px;

  font-family: "Cherry Bomb One", system-ui;
  font-weight: 300;
  font-style: normal;
  font-size: large;
}

#fsButton {
  font-size: 1.2rem;
  width: 8rem;
}
